# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://ygivswshtwiyushaisxm.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_1Vj8Jnt9f90vSI7DqiXIow_XFnk19oP

# Buffer (stored server-side only)
BUFFER_ACCESS_TOKEN=p6WW47YcPUf2z4n-oSmhAbTjISVk4c2JI4VFv0MiCJv

# LLM APIs (add your keys)
ANTHROPIC_API_KEY=
GROQ_API_KEY= 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
OLLAMA_BASE_URL=http://localhost:11434

# Admin credentials (change these!)
ADMIN_EMAIL=sirxbane@proton.me
ADMIN_PASSWORD=@GriffiN@12
